body{
    text-align: center;
    align-items: center;
    font-family: 'Tahoma';
    background: #0b606b;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


.contenedor li{    
    width: 250px;
    height: auto;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 12px;
}

.contenedor .option a{  
    padding: 5px;
    text-decoration: none;
    background: transparent;
    border: 2px solid #a01d99;
    color: #16151d;
}  

.option:hover {
    background: #ec97de;
    color: white;
}         